.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Game-area {
  background-color: #ffffff;
  min-height: 25vh;
  min-width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
}

.Game-board {
  background-color: #000000;
  min-height: 20vh;
  min-width: 50%;
  display: block grid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
